%% Erlang compiler options
{erl_opts, [
           {parse_transform, lager_transform},
%%            {parse_transform, little_transform},
            no_debug_info,
            {i, "include"},
            {src_dirs, ["src"]}
            ]}.


{deps, [
        {lhttpc,        ".*"},
        {cowboy,        "2.*"},
        {ranch,         ".*"},
        {cowlib,        ".*"},
        {ct_helper,     ".*"},
        {gun,           ".*"},
        {lager,         ".*"},
        {goldrush,      ".*"},
        {reddy,         ".*"},
        {sync,          ".*"},
        {emysql,        ".*"},
        {ecrontab,      ".*"},
        {horse,         ".*"}
        ]}.
